<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <!--script type="text/javascript">
        window.onbeforeunload = function() {
            return "Dude, are you sure you want to leave? Think of the kittens!";
        }
    </script-->
    <div id="main">
        <div id="header">
            <headercomp></headercomp>
        </div>
        <h2 class="lightfont">Livreurs</h2>
        <img src="../resources/funny-pizza-delivery-guy-vector-id997163114.png" class="pizzaguy">
        <div>
            <div id="app">
                <livreurs v-for="livreur in livreurs" v-bind:key="livreur.id" v-bind:livreur='livreur'></livreurs>
            </div>
        </div>
        <div class="new_component">
            <div class="add_headline">
                <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                <div class="add_text">
                    Ajouter un nouveau livreur
                </div>
            </div>
            <div class="form_centering">
                <form>
                    <div class="form_content">
                        <br>
                        <p>Nom
                            <input type="text" id="nomLivreur">
                        </p>
                        <p>Prenom
                            <input type="text" id="prenomLivreur">
                        </p>
                        <p>Age
                            <input type="int" id="ageLivreur">
                        </p>
                        <p>Telephone
                            <input type="float" id="telephoneLivreur">
                        </p>
                        <p>Adresse
                            <input type="float" id="adresseLivreur">
                        </p>
                        <br>
                    </div>


                    <input name="Ajouter" onclick="addlivreur()" type="submit" value="Ajouter">
                    </p>
                </form>
            </div>

        </div>
        <h2 class="lightfont">Clients</h2>
        <div id="clients">
            <clients v-for="client in clients" v-bind:key="client.id" v-bind:client='client'></clients>
        </div>
        <div class="new_component">
            <div class="add_headline">
                <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                <div class="add_text">
                    Ajouter un nouveau client
                </div>
            </div>
            <div class="form_centering">
                <form>
                    <div class="form_content">
                        <br>
                        <p>Nom
                            <input type="text" id="nomClient">
                        </p>
                        <p>Prenom
                            <input type="text" id="prenomClient">
                        </p>
                        <p>Age
                            <input type="text" id="ageClient">
                        </p>
                        <p>Telephone
                            <input type="text" id="telephoneClient">
                        </p>
                        <p>Adresse
                            <input type="int" id="adresseClient">
                        </p>
                        <br>
                    </div>


                    <input name="Ajouter" onclick="addclient()" type="submit" value="Ajouter">
                    </p>
                </form>
            </div>

        </div>
        <h2 class="lightfont">Vehicules</h2>
        <div id="vehicule">
            <vehicules v-for="vehicule in vehicules" v-bind:key="vehicule.id" v-bind:vehicule='vehicule'></vehicules>
        </div>

        <div class="form_centering">
            <form>
                <div class="form_content">
                    <br>
                    <p>Vehicule
                        <input type="text" id="nomVehicule">
                    </p>
                    <br>
                </div>

                <input name="Ajouter" onclick="addvehicules(document.getElementById('nomVehicule').value)" type="submit" value="Ajouter">
                </p>
            </form>
        </div>
        <div id="footer">
            <footercomp></footercomp>
        </div>
        <script src="../scripts/postfunctions.js"></script>
        <script src="../components/vehicule.js"></script>
        <script src="../components/livreurs.js"></script>
        <script src="../components/clients.js"></script>
        <script src="../components/header.js"></script>
        <script src="../components/footer.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </div>
</body>

</html>