<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main">
        <div id="header">
            <headercomp></headercomp>
        </div>
        <h2 class="lightfont">Livraisons</h2>
        <div id="livraison">
            <livraison v-for="livraison in livraisons" v-bind:key="livraison.id" v-bind:livraison='livraison'></livraison>
        </div>
        <div class="new_component">
            <div class="add_headline">
                <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                <div class="add_text">
                    Ajouter une nouvelle livraison
                </div>
            </div>
            <div class="form_centering">
                <form>
                    <div class="form_content">
                        <br>
                        <p>ID de la livraison
                            <input type="int" name="idLivraison">
                        </p>
                        <div id="livreursdropdown"> Livreur
                            <select v-model="selected">
                                <option v-for="livreur in livreurs" v-bind:value="livreur.id">
                                    {{livreur.name}}
                                </option>
                            </select>
                        </div>
                        <div id="vehiculesdropdown"> Vehicule
                            <select v-model="selected">
                                <option v-for="vehicule in vehicules" v-bind:value="vehicule.id">
                                    {{vehicule.name}}
                                </option>
                            </select>
                        </div>
                        <br>
                    </div>


                    <input name="Ajouter" type="submit" value="Ajouter">
                    </p>
                </form>
            </div>

        </div>
        <div id="footer">
            <footercomp></footercomp>
        </div>
        <script src="../components/livraisons.js"></script>
        <script src="../components/dropdowns_data.js"></script>
        <script src="../components/commandes.js"></script>
        <script src="../components/header.js"></script>
        <script src="../components/footer.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </div>
</body>

</html>