<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main">
        <div id="header">
            <headercomp></headercomp>
        </div>
        <h2 class="lightfont">Commandes</h2>
        <div id="commande">
            <commande v-for="commande in commandes" v-bind:key="commande.id" v-bind:commande='commande'>
                </livraison>
        </div>
        <h2 class="lightfont">Livraisons</h2>
        <div id="livraison">
            <livraison v-for="livraison in livraisons" v-bind:key="livraison.id" v-bind:livraison='livraison'></livraison>
        </div>
        <div class="new_component">
            <div class="add_headline">
                <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                <div class="add_text">
                    Ajouter une nouvelle livraison
                </div>
            </div>
            <div class="form_centering">
                <form>
                    <div class="form_content">
                        <br>
                        <p>ID de la livraison
                            <input type="int" name="idLivraison">
                        </p>
                        <p>Livreur
                            <select name="dropdown_livreurs">
                                <option value = "Alex">Alex</option>
                                <option value = "Vincent">Vincent</option>
                                <option value = "Cathy">Cathy</option>
                                </select>
                        </p>
                        <p>Véhicule
                            <select name="dropdown_vehicules">
                                <option value = "voiture_1">voiture 1</option>
                                <option value = "voiture_2">voiture 2</option>
                                <option value = "voiture_3">voiture 3</option>
                                </select>
                        </p>
                        <br>
                    </div>


                    <input name="Ajouter" type="submit" value="Ajouter">
                    </p>
                </form>
            </div>

        </div>
        <div id="footer">
            <footercomp></footercomp>
        </div>
        <script src="../components/livraisons.js"></script>
        <script src="../components/commandes.js"></script>
        <script src="../components/header.js"></script>
        <script src="../components/footer.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </div>
</body>

</html>