<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <script type="text/javascript">
        window.onbeforeunload = function() {
            return "Dude, are you sure you want to leave? Think of the kittens!";
        }
    </script>
    <div id="main">
        <div id="header">
            <headercomp></headercomp>
        </div>
        <h2 class="lightfont">Livraisons</h2>
        <div id="livraison">
            <livraison v-for="livraison in livraisons" v-bind:key="livraison.id" v-bind:livraison='livraison'></livraison>
        </div>
        <div class="new_component">
            <div class="add_headline">
                <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                <div class="add_text">
                    Ajouter une nouvelle livraison
                </div>
            </div>
            <div class="form_centering">
                <form>
                    <div class="form_content">
                        <br>
                        <div> Livreur
                            <select v-model="selected" id="livreursdropdown">
                                <option v-for="livreur in livreurs" v-bind:value="livreur.name">
                                    {{livreur.name}}
                                </option>
                            </select>
                        </div>
                        <div> Client
                            <select v-model="selected" id="clientsdropdown">
                                <option v-for="client in clients" v-bind:value="client.name">
                                    {{client.name}}
                                </option>
                            </select>
                        </div>
                        <div> Vehicule
                            <select v-model="selected" id="vehiculesdropdown">
                                <option v-for="vehicule in vehicules" v-bind:value="vehicule.name">
                                    {{vehicule.name}}
                                </option>
                            </select>
                        </div>
                        <div> Pizza
                            <select v-model="selected" id="pizzasdropdown">
                                <option v-for="pizza in pizzas" v-bind:value="pizza.name">
                                    {{pizza.name}}
                                </option>
                            </select>
                        </div>
                        <div> Taille
                            <select v-model="selected" id="sizesdropdown">
                                <option v-for="size in sizes" v-bind:value="size.name">
                                    {{size.name}}
                                </option>
                            </select>
                        </div>
                        <br>
                    </div>


                    <input name="Ajouter" type="submit" value="Ajouter" onclick="adddelivery()">
                    </p>
                </form>
            </div>

        </div>
        <div id="footer">
            <footercomp></footercomp>
        </div>
        <script src="../components/livraisons.js"></script>
        <script src="../components/dropdowns_data.js"></script>

        <script src="../scripts/postfunctions.js"></script>
        <script src="../components/header.js"></script>
        <script src="../components/footer.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </div>
</body>

</html>