<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Muli|Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>RaPizz - Produits</title>
</head>

<body>
    <div id="main">
        <div id="bloc_page">
            <div id="header">
                <headercomp></headercomp>
            </div>
            <h2 class="lightfont">
                Pizza
            </h2>

            <div id="produit" class="centering">
                <produit v-for="produit in produits" v-bind:key="produit.id" v-bind:produit='produit'></produit>

            </div>
            <div class="new_component">
                <div class="add_headline">
                    <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                    <div class="add_text">
                        Ajouter une nouvelle pizza
                    </div>
                </div>
                <div class="form_centering">
                    <form>
                        <div class="form_content">
                            <br>
                            <p>Nom de la pizza
                                <input type="text" name="nomPizza" id="pizzaname">
                            </p>
                            <div id="ingredientsdropdown"> Ingrédient
                                <select v-model="selected" id="ingredientList">
                                    <option v-for="ingredient in ingredients" v-bind:value="ingredient.id">
                                        {{ingredient.name}}
                                    </option>
                                </select>
                            </div>
                            <br>
                        </div>

                        <input name="Ajouter" onclick="addpizza(document.getElementById('pizzaname').value)" type="submit" value="Ajouter">
                        </p>
                    </form>
                </div>

            </div>
            <h2 class="lightfont">
                Ingrédients
            </h2>
            <div id="ingredients" class="centering">
                <ingredient v-for="ingredient in ingredients" v-bind:key="ingredient.id" v-bind:ingredient='ingredient'></ingredient>
            </div>
            <br>
            <div class="new_component">
                <div class="add_headline">
                    <!--<img src="../resources/add_icon.png" class="add_icon" alt="Add product icon" /> !-->

                    <div class="add_text">
                        Ajouter un ingrédient
                    </div>
                </div>
                <div class="form_centering">
                    <form>
                        <div class="form_content">
                            <br>
                            <p>Nom
                                <input type="text" id="ingredientname" name="nomPizza">
                            </p>
                            <br>
                        </div>


                        <input name="Ajouter" onclick="addingredient(document.getElementById('ingredientname').value)" type="submit" value="Ajouter">
                        </p>
                    </form>
                </div>

            </div>
            <div id="footer">
                <footercomp></footercomp>
            </div>
            <script src="../components/produits.js"></script>
            <script src="../scripts/postfunctions.js"></script>
            <script src="../components/ingrédients.js"></script>
            <script src="../components/dropdowns_data.js"></script>
            <script src="../components/header.js"></script>
            <script src="../components/footer.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        </div>
</body>