body {
    background-color: #A14F4F;
}

.blank_space {
    width: 100%;
    height: 60vh;
}

h1 {
    padding-top: 5%;
    font-weight: lighter;
    font-family: 'Great Vibes', cursive;
    color: aliceblue;
    font-size: 1000%;
    text-align: center;
    letter-spacing: large;
    margin-bottom: 0;
}

h2 {
    font-weight: lighter;
    font-family: 'Great Vibes', cursive;
    color: aliceblue;
    font-size: 78px;
    text-align: center;
    letter-spacing: large;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 80px;
    color: white;
    text-align: center;
    letter-spacing: large;
}

h4 {
    font-weight: lighter;
    font-family: 'Great Vibes', cursive;
    font-size: 300%;
    padding-top: 5%;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: large;
    margin-top: 0;
    margin-bottom: 0;
}

.enter {
    background-color: rgb(255, 255, 255);
    /* Green */
    width: fit-content;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.enter:hover {
    background-color: azure;
}

.accueil {
    width: 100%;
    height: 100%;
    display: grid;
}

.activite {
    width: 100%;
    height: 100%;
    display: grid;
    padding-bottom: 10%;
}

.container {
    display: flex
}

.navacti {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-content: center;
}

.buttoncenter {
    text-align: center;
}

.stat {
    border: #724b4b;
    background-color: white;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.navbutton {
    font-weight: lighter;
    background-color: rgb(255, 255, 255);
    /* Green */
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: 300px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: 28px;
    margin: 8px;
}

table {
    margin-bottom: 40px;
    align-content: left;
    margin-left: auto;
    margin-right: auto;
}

table,
td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}