/* Eléments principaux de la page */

body {
    background-color: #A14F4F;
}

.blank_space {
    width: 100%;
    height: 60vh;
}


/* PAGE ACCUEIL */

.accueil {
    width: 100%;
    height: 100%;
    display: grid;
}

#bloc_page {
    margin: auto;
    background: #a14848;
    font-family: 'Muli', sans-serif;
    color: white;
}

.title {
    width: 80%;
}

.grillelivreurs {
    background-color: white;
}

#app {
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.livreurcomponent {
    border-radius: 20%;
    display: block;
    align-content: center;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: auto;
    padding-left: auto;
    width: 30%;
    height: 200px;
}

.livreurcomponent p {
    margin-left: 5%;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    margin-top: 0;
}

.livreurcomponent .name {
    align-items: center;
    width: fit-content;
    display: block;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* Header */

header {
    background: #832424;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-end;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 8%;
    margin-left: 8%;
    padding-bottom: 8%;
}

#logo img {
    width: 50%;
    height: 25%;
}

#nav-container {
    align-content: center;
}


/* Navigation */

#main-menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 10%;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#main-menu li {
    width: 12.4em;
    display: block;
    border-left: 1px solid rgb(255, 255, 255);
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
}

li {
    list-style-type: none;
}

#main-menu li a {
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#main-menu li a:hover {
    font-weight: bold;
}


/*Footer*/

#footer {
    clear: both;
    overflow: hidden;
}

.mecenes {
    background: #32a15f;
    text-align: center;
}

.mecenes a {
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Muli', sans-serif;
    color: white;
    font-weight: bold;
    font-style: italic;
}